        .kotaktengah{
            width: auto;
            height: auto;
            background-color: white;
            border: 1px solid blue;
        }
        .formsaya{
            width: 400px;
            height: 250px;
            background-color: purple;
        }
        body{
            height: 100vh;
            align-items: center;
            justify-content: center;
            background-color: #17a2b8;
        }
        .login{
            width: 360px;
            height: min-content;
            padding: 20px;
            border-radius: 12px;
            background: white;
        }

        .containerlogin{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 50px;
        }

        .login h1{
            font-size: 36px;
            margin-bottom: 25px;
        }

        .login form {
            font-size: 20px;
        }

        .login form .form-group {
            margin-bottom: 12px;
        }

        .login form input[type="submit"] {
            font-size: 20px;
            margin-top: 15px;
        }
